@import "src/_variables.scss";

nav {
  width: 100%;
  height: 100px;

  box-sizing: border-box;
  padding: 0px 48px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  position: fixed;

  user-select: none;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

a {
  display: inline-block;

  height: 28px;
  width: 64px;
  padding: 6px 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 50%;

  color: white;
  text-decoration: none;

  transition: all 200ms linear;

  &.resume-button {
    border-radius: 5px;

    border: 1px solid $primary;

    &:hover {
      background: rgba($primary, 0.2);
    }
  }

  &:not(.resume-button):hover {
    color: $primary;
  }
}
